<?xml version="1.0" encoding="UTF-8"?>
<!--
  Reglages IIS pour l'hebergement Windows.
  Interdit l'acces direct aux fichiers qui ne regardent que le serveur, et sert
  index.html par defaut.
-->
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="lib" />
        </hiddenSegments>
        <fileExtensions allowUnlisted="true">
          <add fileExtension=".log" allowed="false" />
        </fileExtensions>
        <denyUrlSequences>
          <add sequence="config.php" />
          <add sequence="config.exemple.php" />
          <add sequence="mesures.php" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".png" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
    </staticContent>
  </system.webServer>
</configuration>
